@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

#container {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	width: 100%;
	z-index: 2;
}

#inputContainer {
    display: flex;
	height: 5%;
	width: 30%;
	position: relative;
}

.input-container {
	display: flex;
	height: 5vh;
	width: 50vh;
	position: relative;
	border: 1px solid #a9a9a9;
	justify-content: center;
	align-content: center;
	margin: 10px;
	max-width: 80vw;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    border: none;
}

#input-container-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translate(0%, 45vh);
	transition-property: transform;
	transition-duration: 1s;
}

#fileInput {
	height: auto;
	font-size: larger;
	align-self: center;
	text-align: center;
}


button {
	width: 30%;
	font-size: larger;
}

#infoText {
	bottom: 0;
	padding: 1em;
	height: auto;
	position: absolute;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	height: 100%;
}

#error-message {
	opacity: 0%;
	transition: opacity 0.5s ease;
	font-size: large;
	font-family: 'Open Sans', sans-serif;
}

iframe {
	width: 80%;
	height: 100vh;
	opacity: 0%;
	transition: opacity 0.5s ease;
	vertical-align:bottom; 
}

#copyText {
	width: 80%;
	height: auto;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	transition: opacity 0.5s ease;
	opacity: 0%;
}